*.tgz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
src/varying_nose_radii/r1_NR/log.hy2Foam filter=lfs diff=lfs merge=lfs -text
src/varying_nose_radii/r1_NR/postProcessing/forces/0/force.dat filter=lfs diff=lfs merge=lfs -text
src/varying_nose_radii/r1_NR/postProcessing/forces/0/moment.dat filter=lfs diff=lfs merge=lfs -text
